<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>AngularJS Service Example3</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="js/angular.js"></script>
  <script src="ex03_service.js"></script>
  <script src="ex03_app.js"></script>
</head>
<body>  
  <div ng-controller="SampleController" 
  					              class="container">
  	  <ul class="list-unstyled">
  	  	 <li ng-repeat='quote in quotes' 
  	  	     ng-click="doLog($index)"  
  	  	     ng-dblclick="doAlert($index)">
  	  	       {{quote}}
  	  	 </li>
  	  </ul>
  </div>
  <div ng-controller="ButtonController" 
  	                     class="container">
     <button ng-click="doLog()" 
           class="btn-success" >Log</button>
     <button ng-click="doAlert()" 
           class="btn-danger" >Alert</button>
  </div>
</body>
</html>
