<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Color Picker Version3</title>
    <script src='js/angular10.js'></script>
  </head>
  <body ng-init='r=128; b=128; g=128;'>
 
    <h1 ng-click='r=128; b=128; g=128;' 
        style='color: rgb({{r}},{{g}},{{b}});'>
      Drag sliders to change color / click here to reset.
    </h1>
    <input type='range' min='0' max='255' 
          ng-model='r'> Red <br/>
    <input type='range' min='0' max='255' 
          ng-model='g'> Green <br/>
    <input type='range' min='0' max='255' 
          ng-model='b'> Blue <br/>
    <p></p>
    Current Color: rgb({{r}},{{g}},{{b}})
  </body>
</html>







